body{
    background-color: #EEE8AA;
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    padding: 0.5em 1em;

    color: #fff;
    
    background: linear-gradient(-110deg, #051c4a 25%, rgba(0, 0, 0, 0) 40%), url('IMG_4050.JPG');
    background-size: cover;
 
}
.nome{
    font-size: 1.5em;
}


.perfil{
    width: 8%;
    border: 1px solid rgb(255, 255, 255);;
    border-radius: 100px;
    padding: 2px;
}
.eu{
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-bottom: 5px;
    padding-right: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.corpo{
    display: flex;
    flex-direction: row;
    
}
.foto_corpo{
    
}

.menu{
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
}
.menu2{
    padding-right: 1rem;
}

.flex-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(255, 255, 255);;
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-right: 5px;

    
}

.textoI{
    text-align: justify;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);;
    padding: 1rem;
    margin-bottom: 10px;
    margin-right: 5px;
    height: auto;
    background-color: transparent;
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}



.footer {

    border: 1px solid rgb(255, 255, 255);;
    clear: both;
    align-items: center;
    
    background-color: transparent;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-right: 5px;

}
.foo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
}
li {
    list-style-type: none;

}

.icone{

    width: 25px;
    border-radius: 100px;
    
    margin-left: 5px;
    
    
}