#perfil{
    width: 5%;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 2px;
    
    
}
.flex-container{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #000000;
    padding: 1rem;
    margin-bottom: 10px;
    background-color: gray;
}

div{
    text-align: justify;
    display: inline-block;
    border: 1px solid #000000;
    padding: 1rem;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 74%;
    vertical-align: top;
    height: auto;
}

aside{
    border: 1px solid #000000;
    text-align: center;
    width: 20%;
    padding: 15px;
    display: inline-block;
    margin-bottom: 10px;

}


footer {
    border: 1px solid #000;
    clear: both;
    height: 50px;
    text-align: center;  
}