body{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    padding: 0.5em 1em;

    color: #fff;
    
    background: linear-gradient(-110deg, #051c4a 25%, rgba(0, 0, 0, 0) 40%), url('IMG_4050.JPG');
    background-size: cover;
    background-attachment: fixed;
    background-color: #051c4a;
 
}
.alerta{
    animation: alerta 1s infinite;
}
@keyframes alerta {
    0%{
        color: #fff;
    }
    50%{
        color: black;
    }
}






.tes{
    display: flex;
    justify-content: center;
    width: auto;
    margin-left: -50px;
}

@media only screen and (max-width: 1200px) {
    .pri_foto2 {margin-top: 10%;}
}

@media only screen and (max-width: 900px) {
    .menu1 {display: none;}
    .pri_foto2 {margin-top: 10%;}
}

@media only screen and (max-width: 500px) {

} 
@media (max-width: 650px) {
    .pri_foto2 {margin-top: 20%;}
} 
@media only screen and (max-width: 700px) {
}


header{
    position: fixed;
    width: 100%;
    
}

.pri_foto2{
}

.tituloF{
   
    padding: 1rem;

    
}

.menu1{
   
    margin-left: 7rem;
    margin-right: 1rem;
}

.titulo{
    
    font-size: 2rem;
    font-family: monospace;
    border-right: 3px solid #fff;
    animation: curso .5s infinite, escrita 3.5s steps(20 , end); 
    white-space: nowrap;
    overflow: hidden;
    
}
@keyframes curso {
    0%{
        border-color: transparent;
    }
    50%{
        border-color: #fff;
    }
}
@keyframes escrita {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

h1{
    font-family:fantasy;
    display: flex;
    justify-content: center;
}

.principal_C{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: auto;
    
    
}
html {
    scroll-behavior: smooth;
    
  }

/*
overflow-y: scroll;
*/
.menu{
    
    
    top:0;
    position: fixed;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.pri_foto{
    align-items: center;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 10%;
    box-shadow: 0 4px 8px 0 #fff;
    border: none;
}


.perfil{
    width: 8%;
    border: 1px solid rgb(255, 255, 255);;
    border-radius: 100px;
    padding: 2px;
}
.eu{
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 #fff;
    padding-bottom: 5px;
    padding-right: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.corpo{
    display: flex;
    flex-direction: row;
    
}


.foto_corpo{
    cursor: pointer;
  }
.foto_corpo:hover {
    animation: spin 2s linear infinite;
}
@keyframes spin {
0% {
    transform: rotateY(0deg);
}
100% {
    transform: rotateY(180deg);
}
}

.menu2:hover{
    background-color: azure;
    color:black;
    cursor: pointer;
}
.textoI:hover{
    cursor: pointer;
}

.menu2:active{
    position:relative;
    
    box-shadow:none;
    

    text-decoration: none;
}

.textoI:hover{
    
    top:5px;
    box-shadow:none;
    font-weight:700;
    display:inline-block;
    text-decoration: none;
    background-color: black
}
a:link, a:visited,  a:hover, a:active{
    text-decoration: none; color: inherit;
    
    
}
.menu2{

    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 5px;
    border: none;
    box-shadow: 0 4px 8px 0 #fff;

}
.menu_1{
    position: sticky;
    white-space: nowrap;
    width: auto;
    font-size: 1.2em;
    padding: 2rem;
    
    
}
.flex-container{
    display:flex;
    align-items: flex-end;
    align-items: center;
    flex-direction: row;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 #fff;
    
    
    border: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
    
    
}
/* 
margin-top: 0;
    top:0;
    position: fixed;
    width: auto;
    */



.textoI{
    
    
    text-align: justify;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);;
    padding: 1rem;
    margin-bottom: 10px;
    margin-right: 5px;
    height: auto;
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 #fff;
    border: none;
    
    
    
}

h4{
	text-shadow: #000 2px 3px 2px;
	}

.footer {
    margin-top: 20%;
    
    clear: both;
    align-items: center;
    
    background-color: transparent;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-right: 5px;

    
}
.foo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

li {
    list-style-type: none;

}

.icone{

    width: 40px;
    border-radius: 100px;
    margin-left: 10px;
    transition: transform 1s;
    transform: translateX(0) scale(0.5);
    box-shadow: 0 4px 8px 0 #fff;
    
}
.icone:hover, .icone:focus{
    transform: translateX(10px) scale(1.2);
}

.flip-container{
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   

}
.flip-container:hover .flipper{
	transform: rotateY(180deg);
}
.flipper{
    position: relative;
	transition: transform 1s;
	transform-style: preserve-3d;
    
}
.front, .back{
	position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
  
}
.back{
	transform: rotateY(180deg);
}







/*Testando estilo novo 3D*/

/*.framworks{
    position: relative;
    width: 40rem;
    height: 40rem;
    margin: 2rem 0rem;
    transform-style: preserve-3d;
}
.framworks:hover{
    animation-name: flip;
    animation-duration: 15s;
    animation-fill-mode: forwards;
}
@keyframes flip {
    from{
        transform: rotateY(0deg);
    }

    to{
        transform: rotateY(1800deg);
    }
}
.front-vue, .back-react{
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-size: contain;
    position: absolute;
    backface-visibility: hidden;
}

.front-vue{
    background-image: url(eu_1.jpg);
}
.back-react{
    background-image: url(eu_2.jpg);
    transform: rotateY(180deg);
}*/
 



/*.flip-conta {
    width: 500px;
    height: 400px;
    perspective: 1000px;
    
  }
.flipp{
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
    
}

#switch:checked ~ .flip-conta .flipp {
    transform: rotateY(180deg);
  }
  
.flipp{
    position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
.f, .b{
	position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
    width: 100%;
	height: 100%;
    
  
}
.b{
	transform: rotateY(180deg);
}
#switch{
	display: none;
}


.a {
    display: inline-block;
    width: 50px;
    text-decoration: none;
  }
  .nav, scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .nav {
    width: 339px;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
  }
  scroll-container {
    display: block;
    width: 350px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
  }*/
